body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	font-family: sans-serif;
}
main {
	padding: 1em;
}
h1 {
	margin: 0 0 1em 0;
	text-decoration: underline;
	text-decoration-color: white;
}

h2 {
	text-decoration: underline;
	text-decoration-color: white;
}
p {
	margin: 0 0 1em 0;
}